.inputBox {
    text-align: center;
    margin: 30px;
    font-family:'Courier New', Courier, monospace;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

.response {
    margin-top: 20px;
}